
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
/* Add this CSS to your global styles temporarily to test */
/* Define the no-scroll class in your global CSS */
.no-scroll {
    overflow: hidden !important;
  }
  /* Add this CSS in your global stylesheet or inside a styled component */
@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-blink {
    display: inline-block;
    animation: blink 0.8s step-end infinite;
  }
  
  
  